
body {

    background-color: #97A9B9;
}
.jumbotron{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFdZ2CcEORzl0U0qhH58VdN1Dv_6C5ouNlxw&usqp=CAU");
    background-size: 100% 100%;
    
      
}